@import url('https://fonts.googleapis.com/css?family=Bad+Script|Open+Sans+Condensed:300');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0169/6807/rNavy_Stripes_ed_shop_preview.png);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	line-height: 2em;
}
section {
	padding:2em 0;
}
header {
	text-align: center;
	background: url(http://cdn.skim.gs/images/cupcake-shop_mqnsog/5-best-cupcake-shops-in-the-us);
	background-size: cover;
	background-repeat: none;
	color: white;
	padding: 1.25em 1.25em 9.38em 1.25em;
}
.treats {
	background-color: rgba(205,189,201,.7);
	background-size: cover;
	padding: 2em 0 1em 0;
/*	margin: 6.25em 12.5em 0 12.5em;*/
	text-align: center
	width: 75%;
	line-height: 1.2;
}
nav {
	color:#333;
	font-weight: 900;
}
nav a {
	color: white;
	display:inline-block;
	text-decoration:none;
	padding:2em;
	float: right;
}
nav a:hover {
	background-color: rgba(239,202,218,.7);
}
h1, h2, h3, h4, h5 {
	font-family: 'Bad Script', cursive;
}
h1 {
	font-size: 3.13em;
	clear: both;
	padding: 1.25em 0 0 0;
}
h2 {
	margin-bottom: 2em;
}
p {
	margin-top: 1em;
	font-weight: 700;
}
div {
/*	background-color: #FFE2B8;*/
}
section {
	background-color: rgba(239,202,218,.7);
} 
address {
	font-weight: 700;
}
.logo {
	width: 4.7em;
	float: left;
	margin: .63em 0 .63em .63em;
}
#splash {
	background-color: rgba(239,202,218,.7);
	background-size: cover;
	background-repeat:no-repeat;
	padding: 5em 0;
	color: black;
	font-weight: 650;
}
#history {
	float: left;
	display: block;
	padding: 1em 0 4em 0;
	width: 50%;
	line-height: 3em; 
	margin: 9em 0 0 5em;
	text-align: center;
}
.floatleft {
	float: left;
	margin: 0 5% 0 7%;
	display: block;
	width: 22%;
	text-align: center;
}
#splash p {
	margin-top: 0;
}
#p01 {
	font-size: 1.56em;
}
#wrapper {
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
.staff {
	float: left;
	width: 31%;
	margin: 1%;
	background-color: rgb(184,177,192);
	padding: 3%;
	min-height: 35.63em;
	display: inline-block;
	border: .06em black solid;
	min-height: 44em;
}
.team {
	width: 98%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#vist {
	margin: 5%;
	clear: both;
	background-color: #FFB7CF;
	border: .06em black solid;
	padding: 1.25em;
	display: -inline-block;
}
.picture {
	float: left;
	padding: 0%;
	margin-left: 5em;
	width: 44%;
	display: inline-block;
	border: .06em black solid;
	text-align: center;
}
#description {
	padding: 1em 0 4em 0;
	width: 43%;
	height: 38.25em;
	line-height: 2em; 
	margin: 3em 0 0 0;
	float: left;
	text-align: center;
}
.images {
	margin: 1%;
	display: inline-block;
}
.gal {
	width: 33%;
	padding: 1%;
	float: left;
}
.feature {
	float: left;
	margin: 3% .6% 0 .6%;
	padding: 3% 0 3% 0;
	display: inline-block;
	background-color: rgb(174,169,183);
	width: 32%;
	min-height: 22.31em;
	border: .06em black solid;
}
.cook {
	width: 90%;
}
@media only screen and (min-width: 1400px) {
	.feature {
		min-height: 30.31em;
	}
}
@media only screen and (min-width: 1350px) {
	.feature {
		min-height: 54em;
	}
}
@media only screen and (max-width: 1280px) {
	#history {
		line-height: 2em;
		margin-top: 7em;
	}
}
@media only screen and (max-width: 1122px) {
	.feature {
		min-height: 19.31em;
	}
}
@media only screen and (max-width: 1010px) {
	#history {
		margin: 3em 0 0 2em;
		line-height: 1.5em;
	}
	#description {
		margin-top: 0em;
		line-height: 1.2;
	}
}
@media only screen and (max-width: 995px) {
	.feature {
		min-height: 17.31em;
	}
}
@media only screen and (max-width: 875px) {
	.treats {
		margin: 2.25em 3.5em 2.25em 3.5em;
		padding: 4em 0 1em 0;
		display: block;
	}
	.feature {
		min-height: 15.31em;
	}
}
@media only screen and (max-width: 825px) {
	#history {
		margin: 1em 0 0 1em;
		font-size: 16px;
		font-weight: 500px;
	}
	.floatleft {
		width: 26%;
	}
}
@media only screen and (max-width: 780px) {
	.gal {
		width: 48%;
		padding: 1%;
	}
}
@media only screen and (max-width: 775px) {
	.staff {
		padding: 2%;
		font-size: 14px;
		min-height: 37em;
		line-height: 1.7;
	}
}
@media only screen and (max-width: 710px) {
	#history {
		font-size: 14px;
		font-weight: 350px;
		margin: 0 0 0 1em;
	}
	.floatleft {
		width: 28%;
	}
	.feature {
		min-height: 13.31em;
	}
	.picture{
		float: none;
		width: 78%;
		display: inline-block;
		margin-left: 0em
	}
	#description {
		display: inline-block;
		float: none;
		width: 66%;
	}
}
@media only screen and (max-width: 705px) {
	nav a {
		float: none;
		display: block;
		padding: 0 1em 0 1em;
		height: 50px;
		margin: 0 1em 0 1em;
	}
	.logo {
		float: none;
		margin: 1em;
	}
}
@media only screen and (max-width: 600px){
	#history {
		float: none;
		display: inline-block;
		margin-top: 2%
		width: 55%;
	}
	.floatleft {
		float: none;
		width: 55%;
		display: inline-block;
	}
	.feature {
		float: none;
		display: inline-block;
		width: 70%;
	}
	.featured {
		padding: 1em;
	}
	.staff {
		float: none;
		display: inline-block;
		width: 60%;
		font-size: 15px;
		line-height: 1.2;
	}
}
@media only screen and (max-width: 500px) {
	.gal {
		float: none;
		display: inline-block;
		width: 62%;
	}
}

